<div class="form">	
	<%= form_for([@list,@task]) do |t| %>
		
		<strong><p>Task:</p></strong>
		<p><%= t.text_field :task %></p>
		<strong><p>Due Date:</p></strong>
		<p><%= t.text_field :due_date %></p>
		<strong><p>Completed</p></strong>
		<p><%= t.check_box :completed %></p>
		<p><%= t.submit 'Save' %></p>
		
	<% end %>
</div>

